In [1]:
# Libraries
import warnings
import os
import shutil
import json
from pathlib import Path

import numpy as np
import pandas as pd
from tabulate import tabulate

# Ignore warnings
warnings.filterwarnings('ignore')

# Find repository root (so kaggle.json is global/top-level)
def _find_repo_root(start: Path) -> Path:
    for parent in [start, *start.parents]:
        if (parent / 'requirements.txt').exists() or (parent / '.git').exists():
            return parent
    return start

repo_root = _find_repo_root(Path.cwd())
kaggle_json_path = repo_root / 'kaggle.json'
if not kaggle_json_path.exists():
    raise FileNotFoundError(
        "Missing kaggle.json in the repository root. Put your Kaggle credentials file at: "
        f"{kaggle_json_path}"
    )

# API credentials for Kaggle
with kaggle_json_path.open(encoding='utf-8') as f:
    data = json.load(f)

os.environ['KAGGLE_USERNAME'] = data['username']
os.environ['KAGGLE_KEY'] = data['key']

from kaggle.api.kaggle_api_extended import KaggleApi

# Show current working directory
print(os.getcwd())

/workspaces/scientific_programming/Week_02/challenge

In [2]:
# Initialize API
api = KaggleApi()
api.authenticate()

In [3]:
# Download file
api.dataset_download_file('yasserh/titanic-dataset',
                          'Titanic-Dataset.csv',
                          path='./data')

# Read data to pandas data frame
df = pd.read_csv('./data/Titanic-Dataset.csv', sep=',')
df

Dataset URL: https://www.kaggle.com/datasets/yasserh/titanic-dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
# Transform 'Sex' column to binary matrix
sex_binary = pd.get_dummies(df['Sex'], prefix='Sex', drop_first=False)
print(sex_binary)

     Sex_female  Sex_male
0         False      True
1          True     False
2          True     False
3          True     False
4         False      True
..          ...       ...
886       False      True
887        True     False
888        True     False
889       False      True
890       False      True

[891 rows x 2 columns]

In [5]:
# Create subset based on the specified conditions
subset = df[
    (df['Survived'] == 1) & 
    (
        ((df['Sex'] == 'female') & (df['Age'] > 45)) |
        ((df['Sex'] == 'male') & (df['Age'] < 20))
    )
]

print(f"Subset shape: {subset.shape}")
print(subset)

Subset shape: (52, 12)
     PassengerId  Survived  Pclass  \
11            12         1       1
15            16         1       2
52            53         1       1
78            79         1       2
125          126         1       3
165          166         1       3
183          184         1       2
193          194         1       2
195          196         1       1
204          205         1       3
220          221         1       3
226          227         1       2
259          260         1       2
261          262         1       3
268          269         1       1
275          276         1       1
283          284         1       3
299          300         1       1
305          306         1       1
340          341         1       2
348          349         1       3
366          367         1       1
407          408         1       2
445          446         1       1
458          459         1       2
483          484         1       3
489          490         1       3
496          497         1       1
513          514         1       1
526          527         1       2
549          550         1       2
550          551         1       1
556          557         1       1
571          572         1       1
591          592         1       1
751          752         1       3
754          755         1       2
755          756         1       2
765          766         1       1
774          775         1       2
788          789         1       3
796          797         1       1
802          803         1       1
803          804         1       3
820          821         1       1
827          828         1       2
829          830         1       1
831          832         1       2
862          863         1       1
869          870         1       3
871          872         1       1
879          880         1       1

                                                  Name     Sex    Age  SibSp  \
11                            Bonnell, Miss. Elizabeth  female  58.00      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.00      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)  female  49.00      1
78                       Caldwell, Master. Alden Gates    male   0.83      0
125                       Nicola-Yarred, Master. Elias    male  12.00      1
165    Goldsmith, Master. Frank John William "Frankie"    male   9.00      0
183                          Becker, Master. Richard F    male   1.00      2
193                         Navratil, Master. Michel M    male   3.00      1
195                               Lurette, Miss. Elise  female  58.00      0
204                           Cohen, Mr. Gurshon "Gus"    male  18.00      0
220                     Sunderland, Mr. Victor Francis    male  16.00      0
226                          Mellors, Mr. William John    male  19.00      0
259                        Parrish, Mrs. (Lutie Davis)  female  50.00      0
261                  Asplund, Master. Edvin Rojj Felix    male   3.00      4
268      Graham, Mrs. William Thompson (Edith Junkins)  female  58.00      0
275                  Andrews, Miss. Kornelia Theodosia  female  63.00      1
283                         Dorking, Mr. Edward Arthur    male  19.00      0
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.00      0
305                     Allison, Master. Hudson Trevor    male   0.92      1
340                     Navratil, Master. Edmond Roger    male   2.00      1
348             Coutts, Master. William Loch "William"    male   3.00      1
366   Warren, Mrs. Frank Manley (Anna Sophia Atkinson)  female  60.00      1
407                     Richards, Master. William Rowe    male   3.00      1
445                          Dodge, Master. Washington    male   4.00      0
458                                Toomey, Miss. Ellen  female  50.00      0
483                             Turkula, Mrs. (Hedwig)  female  63.00      0
489              Coutts, Master. Eden Leslie "Neville"    male   9.00      1
496                     Eustis, Miss. Elizabeth Mussey  female  54.00      1
513     Rothschild, Mrs. Martin (Elizabeth L. Barrett)  female  54.00      1
526                               Ridsdale, Miss. Lucy  female  50.00      0
549                     Davies, Master. John Morgan Jr    male   8.00      1
550                        Thayer, Mr. John Borland Jr    male  17.00      0
556  Duff Gordon, Lady. (Lucille Christiana Sutherl...  female  48.00      1
571      Appleton, Mrs. Edward Dale (Charlotte Lamson)  female  53.00      2
591    Stephenson, Mrs. Walter Bertram (Martha Eustis)  female  52.00      1
751                                Moor, Master. Meier    male   6.00      0
754                   Herman, Mrs. Samuel (Jane Laver)  female  48.00      1
755                          Hamalainen, Master. Viljo    male   0.67      1
765               Hogeboom, Mrs. John C (Anna Andrews)  female  51.00      1
774              Hocking, Mrs. Elizabeth (Eliza Needs)  female  54.00      1
788                         Dean, Master. Bertram Vere    male   1.00      1
796                        Leader, Dr. Alice (Farnham)  female  49.00      0
802                Carter, Master. William Thornton II    male  11.00      1
803                    Thomas, Master. Assad Alexander    male   0.42      0
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...  female  52.00      1
827                              Mallet, Master. Andre    male   1.00      0
829          Stone, Mrs. George Nelson (Martha Evelyn)  female  62.00      0
831                    Richards, Master. George Sibley    male   0.83      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.00      0
869                    Johnson, Master. Harold Theodor    male   4.00      1
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.00      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.00      0

     Parch           Ticket      Fare    Cabin Embarked
11       0           113783   26.5500     C103        S
15       0           248706   16.0000      NaN        S
52       0         PC 17572   76.7292      D33        C
78       2           248738   29.0000      NaN        S
125      0             2651   11.2417      NaN        C
165      2           363291   20.5250      NaN        S
183      1           230136   39.0000       F4        S
193      1           230080   26.0000       F2        S
195      0         PC 17569  146.5208      B80        C
204      0         A/5 3540    8.0500      NaN        S
220      0  SOTON/OQ 392089    8.0500      NaN        S
226      0        SW/PP 751   10.5000      NaN        S
259      1           230433   26.0000      NaN        S
261      2           347077   31.3875      NaN        S
268      1         PC 17582  153.4625     C125        S
275      0            13502   77.9583       D7        S
283      0       A/5. 10482    8.0500      NaN        S
299      1         PC 17558  247.5208  B58 B60        C
305      2           113781  151.5500  C22 C26        S
340      1           230080   26.0000       F2        S
348      1       C.A. 37671   15.9000      NaN        S
366      0           110813   75.2500      D37        C
407      1            29106   18.7500      NaN        S
445      2            33638   81.8583      A34        S
458      0     F.C.C. 13531   10.5000      NaN        S
483      0             4134    9.5875      NaN        S
489      1       C.A. 37671   15.9000      NaN        S
496      0            36947   78.2667      D20        C
513      0         PC 17603   59.4000      NaN        C
526      0      W./C. 14258   10.5000      NaN        S
549      1       C.A. 33112   36.7500      NaN        S
550      2            17421  110.8833      C70        C
556      0            11755   39.6000      A16        C
571      0            11769   51.4792     C101        S
591      0            36947   78.2667      D20        C
751      1           392096   12.4750     E121        S
754      2           220845   65.0000      NaN        S
755      1           250649   14.5000      NaN        S
765      0            13502   77.9583      D11        S
774      3            29105   23.0000      NaN        S
788      2        C.A. 2315   20.5750      NaN        S
796      0            17465   25.9292      D17        S
802      2           113760  120.0000  B96 B98        S
803      1             2625    8.5167      NaN        C
820      1            12749   93.5000      B69        S
827      2  S.C./PARIS 2079   37.0042      NaN        C
829      0           113572   80.0000      B28      NaN
831      1            29106   18.7500      NaN        S
862      0            17466   25.9292      D17        S
869      1           347742   11.1333      NaN        S
871      1            11751   52.5542      D35        S
879      1            11767   83.1583      C50        C

In [6]:
# Count the number of passengers selected
num_passengers = len(subset)
print(f"Number of passengers selected: {num_passengers}")

Number of passengers selected: 52